<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Artists</title>
    <link href="/styles/artists.css" rel="stylesheet">
  </head>
  <body>
    <div id="header">
      <h1>Artists</h1>
    </div>
    <div id="choice">
      <p>Choose and artist:</p>
      <form method="post" action="/artist">
        <select name="name">
          <option>Gorillaz</option>
          <option>Avicii</option>
          <option>Logic</option>
          <option>Childish Gambino</option>
          <option>Marshmello</option>
        </select>
        <input type = "Submit">
      </form>
    </div>
  </body>
</html>
